
.fabio__header{
    text-align: center;
  }

  .fabiotime{
    text-decoration: underline;
  }
  
  .fabio__images {
    display: grid;
    justify-content: center;
    align-items: center;
    grid-template-columns: repeat(3, 350px);
    gap: 10px;
    padding-left: 2%;
  }
  
  .fabio__images img {
    width: 80%;
    border-radius: 10%;
  }

  .fabio__link{
    text-align: center;
  }
  .fabio__link img{
    width: 10%;
  }

  /* Mobile view adjustments */
@media screen and (max-width: 768px) {
  .navbar__container {
    padding: 0 10px;
  }

  .navbar__menu {
    display: flex;
    flex-direction: column;
    align-items: center;
    position: absolute;
    top: 80px;
    left: 0;
    right: 0;
    background: #131313;
    opacity: 0;
    transition: opacity 0.3s ease;
    max-height: 0;
    overflow: hidden;
  }

  .navbar__menu.active {
    opacity: 1;
    max-height: 400px; /* Adjust the max-height to accommodate all menu items */
  }

  .navbar__item {
    width: 100%;
    text-align: center;
  }

  .navbar__links {
    width: 100%;
    padding: 15px 0;
  }

  #mobile-menu {
    display: flex;
    flex-direction: column;
    align-items: center;
    position: absolute;
    top: 15px;
    right: 20px;
    cursor: pointer;
  }

  .navbar__toggle .bar {
    width: 30px;
    height: 3px;
    margin: 5px auto;
    background: #fff;
    transition: all 0.3s ease-in-out;
  }

  #mobile-menu.is-active .bar:nth-child(2) {
    opacity: 0;
  }

  #mobile-menu.is-active .bar:nth-child(1) {
    transform: translateY(13px) rotate(45deg);
  }

  #mobile-menu.is-active .bar:nth-child(3) {
    transform: translateY(-13px) rotate(-45deg);
  }

  /* Title adjustments */
  .fabio__header {
    padding: 20px;
  }

  .fabioHeader {
    font-size: 24px;
  }

  .fabiotime {
    font-size: 16px;
    text-decoration: underline;
  }

  .fabiotale {
    font-size: 14px;
  }

  /* Images adjustments */
  .fabio__images {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 10px;
    justify-items: center; /* Center the items horizontally within the grid cells */
    align-items: center; /* Center the items vertically within the grid cells */
  }
  
  .fabio__images img {
    width: 80%;
    border-radius: 10px;
  }

  /* Link adjustments */
  .fabio__link {
    padding: 20px;
  }

  .fabio__link h1 {
    font-size: 20px;
  }

  .fabio__link img {
    width: 20%;
  }

  
}

/* END OF NAVBAR */