*
 {
     margin: 0;
     padding: 0;
     font-family: sans-serif;
 }
 section
 {
     padding: 50px;
     background: #000;
 }
 section h2{
     font-size: 2.5rem;
     color: #fff;
 
 }
 section p
 {
     font-size: 1.2rem;
     color: #fff;
 }
 ::-webkit-scrollbar
 {
     width: 0;
 }
 #scrollPath
 {
     position: fixed;
     top: 0;
     right: 0;
     width: 20px;
     height: 100%;
     background: rgba(255,255,255,0.05);
 }
 #progressbar
 {
     position: fixed;
     top: 0;
     right: 0;
     width: 10px;
     
     background: linear-gradient(to top,#000000, #00c000, #00ff22)
         ;
     animation: animate 5s linear infinite;
 }
 @keyframes animate
 {
     0%, 100%
     {
         filter: hue-rotate(0deg);
     }
     50%
     {
         filter: hue-rotate(360deg);
     }
 }
 #progressbar:before
 {
     content: '';
     position: absolute;
     top: 0;
     left: 0;
     width: 100%;
     height: 100%;
     background: linear-gradient(to top,#000000, #00c000, #00ff22)
         ;
     filter: blur(10px);
 }
 #progressbar:after
 {
     content: '';
     position: absolute;
     top: 0;
     left: 0;
     width: 100%;
     height: 100%;
     background: linear-gradient(to top,#84ffc9, #e24bc9, #e64d4d)
         ;
     filter: blur(30px);
 }